<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>caveXpert.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B45FFC291B635BAB9406C89642958187EB712C23</string>
				<key>dateExpires</key>
				<string>12/11/27</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B45FFC291B635BAB9406C89642958187EB712C23</string>
						<key>dateExpires</key>
						<string>12/11/27</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S45JLX7U95</string>
						<key>name</key>
						<string>Aspire Systems (India) Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>S45JLX7U95.com.caveXpert.caveXpert</string>
				<key>com.apple.developer.team-identifier</key>
				<string>S45JLX7U95</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>caveXpert.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>42f7ab05-f7d0-46c8-b8a5-ea3359dccc55</string>
				<key>dateExpires</key>
				<string>12/11/25</string>
				<key>name</key>
				<string>Wildcard Enterprise Profile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>S45JLX7U95</string>
				<key>name</key>
				<string>Aspire Systems (India) Private Limited</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
